.App {
    --header_height: 60px;
    display: flex;
    flex-direction: column;
    gap: 50px;

}

.hw {
    margin: 0 auto;
    width: 60%;
    border-bottom: #cc0000 1px solid;
    padding: 20px;
}

.hwTitle {
    font-size: 36px;
    color: darkolivegreen;
}