    .greetingForm {
}

.inputAndButtonContainer {
    display: flex;
    gap: 15px;
}

.error {
}

.input {
}

.input:focus {
}

.errorInput {
    border: 2px solid red;
}

.button {
    background-color: cornflowerblue;
    width: 100px;
    border-radius: 5px;
}

.button:focus {
}

.button:active {
}

.button:disabled {
}

.text {
}

.greeting {
}
