.button {
    width: 60px;
    border-radius: 5px;
}

.disabled {
    pointer-events: none;
    opacity: 0.65;
}

.secondary {
    background-color: darkolivegreen;
}

.default {
    display: inline-block;
    box-sizing: border-box;
    padding: 0 20px;
    margin: 0 15px 15px 0;
    outline: none;
    border: none;
    border-radius: 6px;
    height: 40px;
    line-height: 40px;
    font-size: 17px;
    font-weight: 600;
    text-decoration: none;
    color: #385898;
    background-color: #e7f3ff;
    cursor: pointer;
    touch-action: manipulation;
}

.red {
    background: #ee8888;
    box-sizing: border-box;
    padding: 0 20px;
    margin: 0 15px 15px 0;
    outline: none;
    border: none;
    border-radius: 6px;
    height: 40px;
    line-height: 40px;
    font-size: 17px;
    font-weight: 600;
    text-decoration: none;
    color: #385898;
    cursor: pointer;
    user-select: none;
    appearance: none;
    touch-action: manipulation;
}

.default:hover {
    opacity: 50%;
}

.red:hover {
    opacity: 50%;
}

.secondary:hover {

}


.default:active {
}

.secondary:active {
}

.red:active {
}

.button:disabled {
}
